body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("namaste.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgm {
  /* The image used */
  background-image: url("Minha\ Vida.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}